<div class="about">
    <div class="container">
        <div class="title">
            <h2>About Me</h2>
        </div>
        <div class="descripcion">
            <p>Si has llegado hasta aquí es porque quieres saber un poco más de mi, así que permíteme que te cuente.</p>
            <br>
            <!-- <ul>
                <li>Nací el verano de 1994, desde entonces tanto en la vida como en la programación no he parado de
                    aprender.</li>
                <li>A la pregunta ¿Por qué te gusta la programación? sin lugar a dudas te diré que es por la cantidad de
                    cosas útiles, rentables o simplemente "chulas " que puedes hacer con ella. Además de poder formar
                    parte
                    de esa gran comunidad a la que llamamos software libre y en la que todos somos bien recibidos.</li>
                <li>Si tienes alguna duda de las "típicas" se las puedes preguntar a mi bot, te lo explico más abajo.
                </li>

            </ul> -->
            <p>Nací el verano de 1994, desde entonces tanto en la vida como en la programación no he parado de aprender.
            </p>
            <p>A la pregunta ¿Por qué te gusta la programación? sin lugar a dudas te diré que es por la cantidad de
                cosas útiles, rentables o simplemente "chulas " que puedes hacer con ella. Además de poder formar parte
                de esa gran comunidad a la que llamamos software libre y en la que todos somos bien recibidos.</p>
            <br>
            <p>Si tienes alguna duda de las "típicas" se las puedes preguntar a mi bot, te lo explico más abajo.</p>
        </div>
    </div>
</div>