@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Gloock&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// font-family: 'Arapey', serif;
// font-family: 'Gloock', serif;

.about {
    width: 100vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    font-family: 'Gloock', serif;
}

.container {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title {
    margin: 50px 0;
}

h2 {
    font-size: 3rem;
}

.descripcion {
    width: 100%;
    height: auto;
    font-family: 'Arapey', serif;
    font-size: 1.2rem;
    // text-align: justify;
    // text-justify: inter-word;
    text-indent: 1.5rem;
    margin-bottom: 50px;
}

ul {
    margin: 20px;
    text-decoration: none;
}

@media(max-width:480px) {
    .about {
        height: auto;
    }

    .container {
        width: 80%;
    }
}