@import '../../../styles/mixins';

.about {
    width: 100%;
    height: 100%;
    @include flexCenter();
    font-family: $fontfamily-text;
    // overflow: hidden;
    margin: 5rem 0;
    padding: 0 10px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    filter: $home-color-filter;
    z-index: -1;
}

.container {
    width: 100%;
    min-height: 80%;
    @include flexCenter();
    margin: 50px 0;
    position: relative;

}

.about-content {
    width: 70%;
    @include flexCenter($direction: column);
    margin: 125px 0;
    gap: 20px;
}


h2 {
    color: $textcolor-base;
}

.descripcion {
    width: 100%;
    height: auto;
    text-indent: 1.5rem;
    text-align: center;
    margin: 25px;
}


@include medium() {
    .title {
        margin-bottom: 20px;
    }

    .container {
        width: 100%;
    }
}

@include small() {
    .about-content {
        margin: 175px 0;
    }
}

@include large(min-width) {
    .container {
        width: 850px;
    }
}