<div class="about">
    <div class="container">
        <picture>
            <source srcset="../../../assets/marcoAbout3.png" media="(min-width: 768px)" />
            <img src="../../../assets/marcoAbout5.png" alt="_blank">
        </picture>
        <div class="about-content">
            <div class="title">
                <h2>About Me</h2>
            </div>
            <div class="descripcion">
                <p>
                    If you've come this far, it's because you want to know a little more about me, so let me tell you.
                </p>
                <br>
                <p>I was born in the summer of 1994, since then both in life and in programming I have not stopped
                    learning.
                </p>
                <br>
                <p>To the question "Why do you like programming? Without a doubt I will tell you that it is because of
                    the amount of useful, profitable or just "cool" things you can do with it. Besides being able to be
                    part of that great community that we call free software and in which we all are welcome.
                </p>
                <br>
                <p>I want you to know that I am happy to share my projects with you and would like to provide you with
                    more information in an interview.</p>
                <br>
                <p>If you have any questions about my profile, hobbies or goals you can send me a message from the
                    contact section.</p>
            </div>
        </div>
    </div>
</div>