<div class="about">
    <div class="container">
        <h2>About Me</h2>
        <div class="descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat totam quibusdam adipisci architecto quis
                id
                dolor
                in, hic voluptates et placeat impedit nesciunt quia accusantium animi omnis nulla. Dolore, eligendi?</p>
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia vitae accusamus illum pariatur.
                    Quas, labore earum, quo deleniti perspiciatis reprehenderit culpa at officiis modi ea vitae! Cumque
                    tempore aliquam quis.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia vitae accusamus illum pariatur.
                    Quas, labore earum, quo deleniti perspiciatis reprehenderit culpa at officiis modi ea vitae! Cumque
                    tempore aliquam quis.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia vitae accusamus illum pariatur.
                    Quas, labore earum, quo deleniti perspiciatis reprehenderit culpa at officiis modi ea vitae! Cumque
                    tempore aliquam quis.</li>
            </ul>
        </div>
    </div>
</div>