@import '../../../styles/mixins';

.hero {
    width: 100%;
    min-height: 70vh;
    @include flexCenter();
    background-color: $primarycolor;
    position: relative;
}

.wrapper {
    width: 50%;
    height: auto;
    @include flexCenter($direction: column);
    margin: 80px 0;
    padding: 10px;
}