@import '../../../styles/mixins';

.carrusel-box {
    -moz-animation: automatizacion 12s infinite linear;
    -o-animation: automatizacion 12s infinite linear;
    -webkit-animation: automatizacion 12s infinite linear;
    animation: automatizacion 12s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 300px;
    width: 300%;
}

.carrusel-content {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenes {
    display: block;
    width: 600px;
    height: 100%;
    padding: 0 2px;
}

.carrusel-item {
    float: left;
    width: 33.333%;
    height: 300px;
    display: flex;
    justify-content: center;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@include medium() {
    .imagenes {
        width: 300px;
    }
}