<div class="container">
    <h2>Proyectos</h2>
    <div class="wrapper">
        <section>
            <div class="proyects">
                <div class="g a">
                    <img src="../../../assets/ApiRest_Alumnos.png" alt="">
                </div>
                <div class="descripcion">
                    <h3>API REST</h3>
                    <div class="texto">
                        <p>
                            ClassMate es un proyecto centrado en la creación de una plataforma escolar.
                        </p>
                        <p>Para la incorporación y obtención de datos generados en esta plataforma he creado una REST
                            API con las librerías express y http de node.</p>
                        <p>En este enlace puedes ver su implementación.
                            <a href="https://github.com/MikeJGT/ClassMate_express/tree/main/ClassMate/routes">REST
                                API</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="proyects rev">
                <div class="descripcion">
                    <h3>Leaflet Map</h3>
                    <div class="texto">
                        <p>La finalidad de este proyecto es el uso de leaflet, una librería de software libre que
                            permite la implementación de mapas con una gran variedad de opciones como la adición de
                            diferentes capas, el cálculo de rutas, geoposicionamiento... </p>
                        <p>Puedes interactuar con esta demo en el siguiente enlace <a
                                href="https://github.com/MikeJGT/leafletMap">LeafletMap</a>
                        </p>
                    </div>
                </div>
                <div class="g">
                    <img src="../../../assets/LeafletMap_LayersSenderismo.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="proyects ">
                <div class="g d">
                    <img src="../../../assets/Dom_AplicacionTareasWeb - copia.png" alt="">
                </div>
                <div class="descripcion">
                    <h3>DOM</h3>
                    <div class="texto">
                        <p>Dom ha sido el primer proyecto que he creado y está hecho con puro HTML, CSS y JS.</p>
                        <p>La creación y modificación de todos los elementos se realiza interactuando directamente con
                            el DOM.</p>
                        <p>Los datos generados en esta aplicación se almacenan en la caché del navegador. </p>
                        <p>Puedes ver este proyecto en este enlace: <a
                                href="https://github.com/MikeJGT/AplicacionTareas">App</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="proyects rev">
                <div class="descripcion">
                    <h3>Michael Dev</h3>
                    <div class="texto">
                        <p>
                            Michael Dev es una extensión de este porfolio, creado con librerías como telegraf y openai,
                            te
                            permite
                            interactuar con él a través de un chat en telegram.
                        </p>
                        <p>Puedes acceder a mi bot pulsando en el icono del mensaje que está en la esquina inferior
                            derecha de esta web.</p>
                    </div>
                </div>
                <div class="g b">
                    <img src="../../../assets/Bot_chat.png" alt="">
                </div>
            </div>
        </section>

    </div>

    <a href="https://t.me/michaeldev54a4646bot">
        <div class="icono">
            <i class="fa-regular fa-message fa-2xl"></i>
        </div>
    </a>
</div>